{% extends 'layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block contents %}
<div id="wrapper">
  <div class="inner">
    <div class="left_box">
    {% if user_profile %}
    <div class="my_name">
      <div class="profile_img"><img src="{{ user_profile.picture.url }}" alt=""></div>
      <span class="name">{{ user_profile.nickname }}</span>
      <span class="icon--more"></span>
  </div>
  <ul class="list">
      <li class="active"><a href="{% url 'post:post_list' %}"><span class="icon icon--news"></span>뉴스피드<span class="icon--more"></span></a></li>
      <li><a href="#"><span></span></a></li>
  </ul>
    {% else %}
    <div class="my_name">
      <div class="profile_img"><img src="{% static 'imgs/noun_user.png' %}" alt=""></div>
      <span class="name">unknown user</span>
      <span class="icon--more"></span>
    </div>
    <ul class="list">
      <li class="active"><a href="{% url 'post:post_list' %}"><span class="icon icon--news"></span>뉴스피드<span class="icon--more"></span></a></li>
    </ul>
    {% endif %}
  </div>
    <section class="contents_container"></section>
    <div class="right_box"></div>
  </div>
</div>
<div id="side_box">
  <ul>
    <li>
      <div class="profile_img"><img src="{% static 'imgs/noun_user.png' %}" alt=""></div>
      <div class="name">dio</div>
      <div class="light"></div>
    </li>
  </ul>
</div>

{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/new_post.js' %}"></script>
{% endblock %}